/* Light Theme */
:root {
	--background-color: white;
	--text-color: black;
	--link-color: darkred;
}

body {
	font-family: Arial, Helvetica, Sans-serif;
	background-color: var(--background-color);
	color: var(--text-color);
}
a {
	color: var(--link-color);
	text-decoration: none;
}
a:focus,
a:hover {
	text-decoration: underline;
	font-size: 20px;
}

ul {
	list-style-type: none;
	padding: 0;
}
